.hero {
    background-color: #0F101082;
    height: calc(100vh - 120px);
    position: relative;

    .hero-image {
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .wrapper {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(0, -50%);
        width: auto;
        
        h1 {
            font-size: 5em;
            margin-bottom: 20px;
            color: white;
        }

        p {
            color: white;
        }

        .button {
            float: right;
        }
    }
}

.ticker {
    background-color: #991C20;
    padding: 3px 0 5px 0;

    ul {

        li {
            float: left;
            white-space: break-spaces;
            color: white;
        }
    }
}

.about {
    background-color: white;
    border-radius: 6px;
    padding: 20px;
    position: relative;
    margin-top: 40px;
    overflow: auto;

    .container {
        width: 49%;
        float: left;

        &:first-of-type {
            margin-right: 2%;
        }

        ul {
            text-align: center;
            margin-top: 20px;
            font-size: 1.2em;
            font-weight: 700;
            line-height: 2em;
        }
    }

}
.full-width-red {
    width: 100%;
    background-color: #991C20;
    height: 200px;
    margin: -160px 0 40px 0;
    z-index: -1;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .service-card {
        text-align: center;
        padding: 0 40px;
        flex: 1;

        .service-image {
            width: 100%;
            height: 200px;
            margin-bottom: 20px;
        }

        h2 {
            margin-bottom: 10px;
        }
    }
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

    h1 {
        color: #991C20;
        font-size: 4em;
        flex-basis: 100%;
    }
    h2 {
        font-family: 'News Cycle', sans-serif;
        text-transform: none;
        font-weight: 400;
        font-size: 1.5em;
        flex-basis: 100%;
    }
    .testimonial {
        border: 2px solid #991C20;
        border-radius: 6px;
        flex: 1;
        margin: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        svg {
            stroke: #707070;
        }

        .rated {
            stroke: #991C20;
            fill: #991C20;
        }

        p {
            margin: 15px 0;
        }

        h4 {
            font-family: 'News Cycle', sans-serif;
            text-transform: none;
            color: #991C20;
            font-size: 0.8em;
        }
    }
}