.service-table-cell {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 0;

    .cell-image, .table-info {
        flex: 1 1 50%;
    }

    .cell-image {
        max-height: 200px;
    }
    .table-info {
        padding: 20px;
    }
}
.service-table-cell:nth-of-type(even) {
    flex-flow: row-reverse;
    
}

.team-members{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

    h1 {
        color: #991C20;
        font-size: 4em;
        flex-basis: 100%;
    }
    h2 {
        font-family: 'News Cycle', sans-serif;
        text-transform: none;
        font-weight: 400;
        font-size: 1.5em;
        flex-basis: 100%;
    }
    .team-card  {
        border: 2px solid #991C20;
        border-radius: 6px;
        flex: 1;
        margin: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            margin: 15px 0;
        }

        h4 {
            font-family: 'News Cycle', sans-serif;
            text-transform: none;
            color: #991C20;
        }
    }
}

.machines {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 15px;

    .digger {
        flex-basis: 48%;
        height: 300px;
    }
}

.gallery-image {
    width: 100%;
}